@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
}

.nav-container {
  height: 65px;
  background-color: #00afb9;
}

.navigation {
  width: 500px;
  height: 100%;
  margin: auto;
  align-content: center;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
}

.bottom {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.main-content-container {
  background-color: #efeff0;
  width: 100%;
  position: fixed;
  overflow: scroll;
  bottom: 65px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.main-content {
  max-width: 800px;
  height: auto;
  margin: auto;
}

.home-header {
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 800px;
  justify-content: space-around;
}
.home-header div {
  width: 50%;
  text-align: center;
  background-color: lightblue;
  padding: 40px 0;
  cursor: pointer;
}
.home-header div span {
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.home-header div:first-of-type {
  border-right: 1px solid #ffffff;
}
.home-header .inactive {
  opacity: 0.6;
}

.thumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  justify-content: space-between;
}
.thumb {
  width: 180px;
  height: 240px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.216);
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.thumb-image {
  width: 100%;
  height: 155px;
  background-size: cover;
  background-repeat: no-repeat;
}
.thumb-meta {
  width: 100%;
  height: 75px;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}
